<form>
   <label for="name">Nombre</label>
  <input type="text" id="name" name="name" ngModel #nombre />
  <input type="text" id="password" name="password" ngModel #password />
  <button type="submit" (click)="loginUser(nombre.value, password.value)">
    Iniciar sesión
  </button>
  <button type="submit" (click)="redireccionRegistro()">Registro</button>

<!--   <input type="text" id="name" name="name" value="Elena" />
  <input type="text" id="password" name="password" value="elena1234" />
  <button type="submit" (click)="loginUser('Elena', 'elena1234')">
    Iniciar sesión
  </button>
  <button type="submit" (click)="redireccionRegistro()">Registro</button>
 -->
</form>

<!-- 
  usuario de pruebas: katechen kate789
 -->
