<form class="form">
  <p>
    <label for="username">Name</label>
    <input type="text" id="username" name="username" #username />
  </p>

  <p>
    <label for="password">password</label>
    <input type="text" id="password" name="password" #password />
  </p>

  <p>
    <label for="fullname">fullname</label>
    <input type="text" id="fullname" name="fullname" #fullname />
  </p>

  <p>
    <label for="birthdate">birthdate</label>
    <input type="text" id="birthdate" name="birthdate" #birthdate />
  </p>

  <p>
    <label for="deposit">deposit</label>
    <input type="number" id="deposit" name="deposit" #deposit />
  </p>

  <button type="submit"
    (click)="
      registro(
        username.value,
        password.value,
        fullname.value,
        birthdate.value,
        +deposit.value
      )
    "
  >
    Add User
  </button>
</form>
